.storage{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-content: stretch;

    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.storage__small-container{
    width:25%;

    box-sizing: border-box;
}
.storage__medium-container{
    width:50%;

    box-sizing: border-box;
}
.storage__large-container{
    width:100%;

    box-sizing: border-box;
}
.storage__big-picture{
    min-height: 70vh;
    width: 100%;

    display:flex;
    flex-direction:row;
}
.storage__image{
    height: 100%;
    width:100%;
}
.storage__image_first-image{
    min-height:50vh;
    
    background: url(./images/1.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
.storage__image_second-image{
    min-height:75vh;

    background: url(./images/2.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
.storage__image_third-image{
    min-height:50vh;

    background: url(./images/3.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
.storage__image_fourth-image{
    min-height:50vh;
    
    background: url(./images/4.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
.storage__image_fifth-image{
    min-height:100vh;

    background: url(./images/5.jpg) no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}
/*-------------------header card--------------------------*/
    .header-card{
            box-sizing:border-box;
    }
    .header-card_light-pink{
            background-color:#F0E2D7;
    }
    .header-card_stretch{
            width:100%;
            height:100%;
    }
    .header-card__content-container{
            padding:25px 40px 25px 40px;

            box-sizing:border-box;
    }
    .header-card__content-centrer{
            width: 100%;
            height: 100%;
            
            display: flex;
            flex-direction:column;
            justify-content:center;
    }
    .header-card__small-caption{
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 2px; 
            color:#93A2A5;

            margin-top:15px;    
    }
    .header-card__large-caption{
            font-size: 42px;
            color:#161616;

            padding-top:15px;
            padding-bottom:10px;
    }
    .header-card__text{
            font-size: 16px;
            line-height: 30px;
            font-weight:300;
            color:#93A2A5;

            padding-bottom:7px;
    }
    .header-card__bold-text{
            font-weight:500;
    }
    .header-card__button{
            height:45px;
            min-width:170px;

            margin-top:40px;
            margin-bottom:20px;
            
            background-color: #F0E2D7;
            
            border-radius:22px;
            border:3px solid #212121;
            outline:none;
            
            font-size:12px;
    }
/*-------------------about card---------------------------*/
    .about-card{
    }
    .about-card_stretch{
            width:100%;
            height:100%;
    }
    .about-card__container{
            width:100%;
            height:100%;
            padding:25px 40px 40px 40px;
            box-sizing:border-box;
    }
    .about-card__header{
            font-size: 42px;

            padding-top:15px;
            padding-bottom:10px;
    }
    .about-card__paragraph{
            font-size: 16px;
            line-height: 30px;
            color:#93A2A5;

            font-weight: 400;

            padding-bottom:7px;
    }
    .about-card__paragraph_special{
            padding-bottom:19px;

            color:#EABB73;
    }
/*-------------------skills card--------------------------*/
    .skills-card{
    }
    .skills-card_stretch{
            width:100%;
            height:100%;
    }
    .skills-card_light-brown{
            background-color:#E4AE58;
    
            flex-grow:1;
    }
    .skills-card__container{
            box-sizing:border-box;
    
            padding:30px 40px 40px 40px;
    
            color:white;
    }
    .skills-card__header{
            font-size: 42px;

            padding-top:10px;
            padding-bottom:10px;
    }
    .skills-card__text{
            font-size: 16px;
            line-height: 30px;
            font-weight:400;
    
            padding-bottom:7px;
    }
/*-------------------ability card-------------------------*/
    .ability-card{
    }
    .ability-card_light-brown{
                    background:#E4AE58
    }
    .ability-card_light-red{
                    background:#E9714C
    }
    .ability-card_black{
                    background:#161616;
    }
    .ability-card_stretch{
                    width:100%;
                    height:100%;
    }
    .ability-card__container{
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
        
                    text-align:center;
        
                    padding:40px 25px 30px 25px;
        
                    box-sizing:border-box;

                    color:white;
    }
    .ability-card__header{
                    font-size:28px;

                    padding-top:15px;
                    padding-bottom:25px;
    }
    .ability-card__header_black{
                    color:#161616;
    }
    .ability-card__text{
                    font-size: 18px;
                    line-height: 30px;

                    padding-bottom:7px;
                    
    }
    .ability-card__text_gray{
                    color:#93A2A5;
    }
    .ability-card__icon{
                    font-size:45px;
    }
    .ability-card__icon_black{
                    color:#161616;
    }
/*-------------------progress bar-------------------------*/
        .progress-bar{
        }
        .progress-bar__container{
                    width:100%;

                    font-size:15px;
        }
        .progress-bar__loading-container{
                    height:2px;

                    margin-top:10px;

                    background:white;
        }
        .progress-bar__loaded{
                    height:2px;
                    background:#212121;
        }
        .progress-bar__loaded_few{
                    width:70%;
        }
        .progress-bar__loaded_more{
                    width:80%;
        }
        .progress-bar__loaded_many{
                    width:90%;
        }
        .progress-bar__description{
                    display: flex;
                    justify-content:space-between;

                    margin-top:20px;
        }
        .progress-bar__what-description{
                    color:#212121;
        }
        .progress-bar__how-many-description{
                    color:white;
        }
/*-------------------knowledge card-----------------------*/
    .knowledge-card{
    }
    .knowledge-card_experience{
                        background-color:#E9714C;
    }
    .knowledge-card_education{
                        background-color:#E4AE58;
    }
    .knowledge-card_stregth{
                        width:100%;
                        height:100%;
    }
    .knowledge-card__container{
                        padding:40px 25px 30px 25px;

                        box-sizing:border-box;
    }
    .knowledge-card__title{
                        font-size: 42px;
                        color:white;

                        padding-bottom:10px;
    }
    .knowledge-card__text{
                        font-size: 16px;
                        line-height: 30px;
                        font-weight:400;
                        color:white;

                        padding-bottom:7px;
    }
/*-------------------item with icon-----------------------*/
        .item-with-icon{
        }
        .item-with-icon__container{
                            display:flex;
                            align-items: stretch;
                            flex-direction:row;

                            color:white;

                            margin-top:17px;
        }
        .item-with-icon__icon{
                            font-size:45px;
        }
        .item-with-icon__text-container{
                            margin-left: 17px;
        }
        .item-with-icon__title{
                            font-size:26px;
        }
        .item-with-icon__smaller-title{
                            font-size:0.7em;
                            font-weight:bold;
        }
        .item-with-icon__smaller-title_dark-brown{
                            color:#683232;
        }
        .item-with-icon__smaller-title_light-brown{
                            color:#886D1E;
        }
        .item-with-icon__text{
                            font-size: 16px;
                            line-height: 30px;
                            font-weight:400;

                            padding-bottom:7px;
        }
/*-------------------message card-------------------------*/
    .message-card{
    }
    .message-card_light-red{
                        background-color:#E9714C;
    }
    .message-card_stretch{
                        width:100%;
                        height:100%;
    }
    .message-card__container{
                        color:white;

                        box-sizing:border-box;

                        padding:40px 25px 30px 25px;
    }
    .message-card__title{
                        font-size: 42px;
                    
                        padding-top:15px;
                        padding-bottom:10px;
    }
    .message-card__text{
                        font-size: 16px;
                        line-height: 30px;
                        font-weight:400;
                    
                        padding-bottom:7px;
    }
/*-------------------message form-------------------------*/
        .message-form{
        }
        .message-form__container{
                        margin-top:25px;
                        padding-bottom:20px;
        }
        .message-form__input{
                        width:100%;
                        
                        margin:0 0 30px 0;
                        padding-bottom:5px;
                        
                        background-color: rgba(0,0,0,0);
            
                        border:none;
                        outline:none;
                        border-bottom:1px solid #E7AA57;
            
                        font-family:inherit;
                        font-size: inherit;
                        color:white;
                        text-indent:10px;
        }
        .message-form__input::-webkit-input-placeholder { 
            color: white; }
        .message-form__input::-moz-placeholder { 
            color: white; 
        }
        .message-form__send-button{
                        height:45px;
                        min-width:300px;
            
                        border-radius:22px;
                        border:none;
                        outline:none;
            
                        background-color:white;
            
                        font-size:16px;
        }
/*-------------------contacts card------------------------*/
    .contacts-card{
    }
    .contacts-card_black{
        background-color:#161616;
    }
    .contacts-card_stretch{
        width:100%;
        height:100%;
    }
    .contacts-card__container{
        width:100%;
        height:100%;

        padding:40px 35px 30px 35px;

        box-sizing:border-box;
        
    }
    .contacts-card__title{
        font-size:26px;
        color:white;

        padding-top:15px;
        padding-bottom:25px;
    }
    .contacts-card__text{
        font-size: 16px;
        line-height: 30px;
        font-weight:400;

        padding-bottom:7px;
    }
    .contacts-card__text_gray{
        color:#93A2A5;
    }
    .contacts-card__text_dark-yellow{
        color:#D4A555;
    }
    .contacts-card__icon{
        color:#93A2A5;
        margin-right:10px;
    }
/*-------------------darkened card------------------------*/
    .darkened-card{
    }
    .darkened-card_stretch{
        width:100%;
        height:100%;
    }
    .darkened-card__container{
        width:100%;
        height:100%;

        box-sizing:border-box;

        position:relative;

        display:flex;

        background: url(./images/6.jpg) no-repeat;
        background-position: 50% 50%;
        background-size:cover;
    }
    .darkened-card__content-container{
        position: relative;
        
        width:70%;
        height:100%;
        
        margin:auto;
        padding-top:25px;
        padding-bottom:25px;
        
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        
        text-align:center;

        box-sizing:border-box;
    }
    .darkened-card__overlay{
        width:100%;
        height:100%;
        
        position:absolute;
        top:0;
        left: 0;
        
        background-color: rgba(0,0,0,0.7);
    }
    .darkened-card__title{
        font-size: 42px;
        line-height: 52px;
        
        padding-top:15px;
        padding-bottom:30px;
        
        color:white;
    }
    .darkened-card__text{
        font-size: 16px;
        line-height: 30px;
        font-weight:400;
        color:#93A2A5;
        
        padding-bottom:7px;
    }
    .darkened-card__icon{
        font-size:45px;
        color:white;
    }
/*--------------------------------------------------------*/
.footer{
    text-align:center;
    font-family:'Source Sans Pro', sans-serif;
}
.footer__title{
    font-size: 16px;
    line-height: 30px;
    color:#93A2A5;
    
    padding-bottom:7px;
    margin-top:100px;
    margin-bottom:30px;
}
.footer__author-link{
    color:#D4A555;
}
.footer__icons{
    font-size: 19px;
    color:#93A2A5;
    word-spacing: 35px;

    margin-bottom:100px;
}